[2016-06-26 16:55] ryukinix opened #2 "Verbose mode for -emit-expr"
Maybe can be useful get a more descriptive and friendly the expressions of `-emit-expr`. The idea is put things like `IncrementExpr (3)` as `IncrementExpression 3 times in cell x`.

[2016-06-26 19:09] ryukinix opened #3 "Brain REPL implementation"
This is really wishful.

[2016-06-29 17:41] luizperes commented on #3
@ryukinix Could you describe how that better?

[2016-06-29 18:12] ryukinix commented on #3
Yes, I can.

**Main features**:
- [ ] Prompt with actual cell pointer like `(λ cell 1) > `
- [ ] bulti-ins for interactive learn, like `(describe '+')`
- [ ] LISP syntax (is simple to use and implement)
- [ ] built-in called `(stack)` or `(memory)`
   - [ ] print stack
   - [ ] erase stack
   - [ ] support for slices like `(stack 1 10)`
- [ ] keyword for reset pointer like `(reset)
- [ ] built-in

[2016-06-29 18:13] ryukinix commented on #3
For first version I think this is sufficient, but if you wish implement more things, do it!

[2016-06-29 18:21] luizperes commented on #3
@ryukinix thank you for the insight! :dancer:
I'll totally include that to the project

[2016-07-02 19:52] luizperes opened #4 "Adopt cpp guidelines"
Make code refactoring to follow the [CppCoreGuidelines](https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md) as described [here](http://www.stroustrup.com/bs_faq2.html)

[2016-07-03 10:18] luizperes commented on #2
Thanks! New feature has just been implemented [here](https://github.com/luizperes/brain/commit/f190191ea4fe9b284d15902a0ee7dbe3a69651f1)

Code:
[code]

Representation:
![verbosity](https://cloud.githubusercontent.com/assets/6173065/16544927/53b2b63a-40cc-11e6-84af-9eee359dea00.png)

How is it?

[2016-07-03 15:41] ryukinix commented on #2
Very very good! Congratulations, @luizperes ! <3 I love it

[2016-07-03 17:33] luizperes commented on #2
Thanks! I also changed from -emit-expr to -emit-ast :)

[2016-07-03 17:33] #2 closed

[2016-07-03 18:04] ryukinix commented on #2
Nice! <3

[2016-07-04 05:14] luizperes opened #5 "Implementation of the symbol `$`"
Initially I was thinking about using the char `$` for converting the current cell back and forth with `float` and `int`, that would have some implications with the `LLVM IRBuilder`, since we would need to implement suppport to `floating numbers` for each arithmetic operation, debug and so on... Although, my real concerns are related on how we would do it... I was thinking of using `union` for that

[2016-07-04 05:17] luizperes commented on #5
@ryukinix @rafaelcn

[2016-07-04 05:19] luizperes opened #6 "Implementation of a pre-processor"
I would like to get some pros and cons related to the use of a pre-processor on Brain. Any suggestions?

[2016-07-04 05:19] luizperes commented on #6
@ryukinix @rafaelcn

[2016-07-04 05:21] luizperes opened #7 "Brain - LLVM IR inline"
I was thinking of having a possibility to add LLVM IR.
That would be very useful for the creation of libraries for Brain. _// using functions in the future_
Any considerations?

[2016-07-04 05:21] luizperes commented on #7
@ryukinix @rafaelcn

[2016-07-04 14:33] ryukinix commented on #6
Which cases you think pre-processing can be really necessary & useful with brainfuck?

[2016-07-04 14:42] luizperes commented on #6
@ryukinix using macros to have the possibility to "extend" the language/ make repetitive tasks easier

[2016-07-04 14:48] ryukinix commented on #6
Macros are really nice, but how you wish implement this? C-like syntax with `#define` ?

[2016-07-04 14:58] luizperes commented on #6
Yeah, C-style(ish) macro...
I imagine that we can do that by using pipes.
Example:

[code]

Each pipe would have a number related to it... Inside the code we would call the macros like:

[code]

In this case we would need two more operators `|` and `^`, which is bad. Do you have pros and cons?

[2016-07-04 15:35] luizperes commented on #6
@ryukinix I was thinking of changing a bit the code above... What if it was like that?

[code]

In the first case, I'm creating a macro called `number_five`, in the second case, I'm including a file. What do you think? In this case we only need the operator pipe `|`

[2016-07-05 00:37] rafaelcn commented on #4
Perfect! I would love use Stroustrup guidelines.

[2016-07-05 03:55] luizperes opened #8 "Representing numbers in Brain"
I'm opening this new thread because __Brain__ needs to represent literal numbers in a better way than __Brainfuck__. How can we do that?

I have seen some languages doing (and @leonardohn has also suggested to use)
[code]
Although that would make us implement __at least__ 10 more commands `0-9` and they would not be one byte commands anymore. Because of that, I'm thinking of a new way of represent

[2016-07-05 03:56] luizperes commented on #8
@ryukinix @leonardohn @rafaelcn

[2016-07-05 18:22] ryukinix commented on #8
Very very interesting, I will take time later to discuss this more deeply.

[2016-07-05 21:28] luizperes commented on #7
This link here says that it is possible to link _Brain_ with C files!!!

https://groups.google.com/forum/#!topic/llvm-dev/Cwq95-mqPys

[2016-07-06 01:41] ryukinix commented on #7
Veeeeeeeeeeeeeeery nice! You'll attach this in Brain?

[2016-07-06 20:33] rafaelcn commented on #3
Is LISP sintax easier to implement? (The *_because_* would be an awesome answer). I don't know anything about it, could you shed a light on me @ryukinix? :smile:

[2016-07-06 20:40] rafaelcn commented on #6
Discussing about this feature with @luizperes in a call was revealing, while this is a nice idea it brings a bit of complexity to Brain (As it was not complex enough [literal joke here]), adding operators expands the range of errors that we could possibly get that's one of the drawbacks, we just have to study carefully when and how to implement this great feature!

[2016-07-06 20:41] rafaelcn commented on #7
Yes, he will :3

[2016-07-07 15:50] ryukinix commented on #3
Is just lists, is easy to tokenize and parse. Is almost a AST.

[2016-07-07 23:06] luizperes commented on #3
Let's see how that will be, because I was thinking of writing that on Brain. :) Who is +1?

[2016-07-07 23:09] luizperes commented on #6
@ryukinix @rafaelcn Thinking and re-thinking, I realized that what @rafaelcn made so much sense. We should not add more complexity (more than planned) on Brain. As we want to use this language to solve AI problems as well, I do not think that we should add this new `layer` of complexity. Well, pointed @rafaelcn .

[2016-07-07 23:10] luizperes commented on #6
Anyone is welcome to re-open this discussion.

[2016-07-07 23:10] #6 closed

[2016-07-07 23:15] luizperes commented on #7
I will study this feature thouroughly, thinking better later, I'm re-organizing my thoughts together to implement LLVM IR, instead. This new approach came in my mind for two reasons.

- First, that will take one layer off from the process of compiling.
- Second, `Brain` will be compatible with any language that is LLVM-IR-based.

[2016-07-07 23:23] luizperes commented on #8
I think that this feature would not be a good approach for this project, because we would have to create a `command` that would depend on multiple cells, bringing more complexity to the project, reminded by @rafaelcn on a discussion https://github.com/luizperes/brain/issues/6. I imagine that we can go on complexity up to two operands. (`ArithmeticExpr-like`).

A good approach would be using extern

[2016-07-07 23:23] luizperes commented on #8
Anyone is welcome to re-open this discussion

[2016-07-07 23:23] #8 closed

[2016-07-08 00:07] luizperes commented on #5
There is another approach in [here](http://stackoverflow.com/questions/10067510/fixed-point-arithmetic-in-c-programming). What do you think?

[2016-07-08 00:31] luizperes commented on #5
Having this link http://stackoverflow.com/questions/10067510/fixed-point-arithmetic-in-c-programming in my, we will have the operator `$` as a __print__ function, just like one would do:
[code]
In this way, we would create a library for the use of the FPU.

[2016-07-08 04:49] ryukinix commented on #3
:+1:

[2016-07-12 22:00] rafaelcn commented on #3
Is this worth to be written before 1.0 @ryukinix?

[2016-07-12 22:06] rafaelcn opened #12 "The 1.0 Brain"
This issue holds all tasks that we need to do to reach **1.0**! If you have done a task, please, mark it, and then add the commit hash aside of the task which you completed it.

# Features and whatnot

- [x] Fix file ```testscripts.c```.
  - [x] Linux.
  - [x] Mac.
- [x] Implement `?`, `:`, `;`.
- [x] Ignore else's without if's.
- [x] Improve the methods IsBranch, IsTerminator and so on.
- [x] Cod

[2016-07-13 03:28] ryukinix commented on #3
Would be really cool, @rafaelcn. REPL is a very very strong feature.

[2016-07-21 01:38] rafaelcn commented on #12
Maybe the _Allow the compiler to have cells larger than 100x4_ was solved as in the _[parser.h](https://github.com/luizperes/brain/blob/master/src/parser/Parser.h#L26-L27)_ a variable k_cells_count is implemented, am I correct @luizperes?

[2016-07-21 02:02] luizperes commented on #12
@rafaelcn That is partially correct, once we still need to take that value from the command line args

[2016-07-21 02:45] rafaelcn commented on #12
So on what solution are you thinking about? Passing it through **brain** command line?

[2016-07-21 02:50] luizperes commented on #12
@rafaelcn I think so... I didn't want to create `two` more commands for adding/reducing the tape size... I think that we should leave the tape size fixed, although with a possibility of setting it up

[2016-07-21 04:13] rafaelcn commented on #12
A config file would be nice, however, it would increase the complexity of the project right now. Although, accepting custom settings from a file would be awesome :+1:

[2016-07-21 04:47] luizperes commented on #12
I completely agree with you, could you create this suggestion as an issue? We can try to release that after that version 1.0

[2016-07-21 13:01] rafaelcn commented on #12
Ok!

[2016-07-21 13:09] rafaelcn opened #15 "Create a config file for brain"
A tool that accepts its configuration with a file is highly customizable and fairly easy to work, we save two things when implementing a configuration file:
- Time
- Time

The process of compilation can last longer as the project increases, so it's to keep those things in mind. Therefore a configuration file to _Brain_ would be nice to be implemented. All the properties of _Brain_ would be customi

[2016-07-29 04:15] rafaelcn commented on #4
We ended up using some mixed code style, but it is quite good, we have to focus to write good C++ as shown [here]( https://www.youtube.com/watch?v=1OEu9C51K2A&index=1&list=PLHTh1InhhwT75gykhs7pqcR_uSiG601oh) and in other videos from _CppCon_. Anyway, closing this issue because there is not any reason to keep it open, feel free to reopen it.

[2016-07-29 04:15] #4 closed

[2016-07-29 04:18] rafaelcn commented on #7
Well, I think we should review this issue, @luizperes has already implemented this great feature and now it provides us a great feature! :100: :tada:

[2016-07-29 07:18] luizperes commented on #7
It is prepared to be implemented, although it is not fully implemented. It works only for `DebugExpr`, `InputExpr` and `OutputExpr` so far. This feature is not going to be included on `Brain 1.0`, once we are running out of time.

Therefore I will reopen this issue and take it out from the `Milestone 1.0` _// that will be implemented if we have time_

[2016-07-30 01:30] luizperes opened #17 "Implementation of the symbol `@`"
- Implement functions call on Brain.
- Allow it to be compatible with LLVM IR.

[2016-08-06 18:49] rafaelcn commented on #5
We already have a library (`io.c`), should we implement a function with that behavior you mentioned?

[2016-08-06 19:16] luizperes commented on #5
Yes @rafaelcn! :) as `io.c` file already exists and the `FloatExpr` is purely __IO__ for now, I think that this should be the best approach regarding our architecture. Thanks!

[2016-08-07 22:45] rafaelcn commented on #5
[Implementation completed](https://github.com/rafaelcn/brain/tree/floatexpr). Now I just need to implement the tests.

[2016-08-08 00:43] luizperes commented on #5
Looks very good!!!! Can you add the test files to it and send a PR?

Thanks :D 👍🏾👍🏾👍🏾

[2016-08-08 01:13] rafaelcn commented on #5
Sure, on my way to do it! :dancer:

[2016-08-08 04:01] rafaelcn commented on #5
Done, for more info see #20.

[2016-08-08 04:01] #5 closed

[2016-08-15 20:53] ryukinix opened #22 "Transfering the repository to `brain-labs`"
I setup right now all the basic necessary structure and invoked you, @luizperes , as the Team Maintainer. As you wish, you can add more people and create new teams, as new repository too.

The structure is:

[code]

You are welcome.

[2016-08-16 00:12] rafaelcn commented on #22
`lisp` notation, approved. :+1:

[2016-08-16 04:20] luizperes commented on #22
Done! :dancer:

[2016-08-16 04:20] #22 closed

[2016-08-16 05:18] luizperes opened #23 "Implementation of the symbol `^`"
Implement new command `^`

Benefits:
Right now, If you want to move from the _1st cell_ to _100th cell_ you will need to write something like:

1st way

[code]

2nd way

[code]

While the `1st way` runs in `O(n)`, the `2nd way` runs in `O(1)`, where `n` is the desired cell. In this way, the 2nd way of writing is way faster, however, when the desired cell increases/decreases (let's think in a big n

[2016-08-16 05:29] rafaelcn commented on #23
We've been discussing this and this could improve Brain by saving us - and the _AI_ in the future - time to write code and also to interpret code as that would make O(1) code no matter what.

[2016-08-22 20:46] luizperes commented on #12
Is the documentation done @rafaelcn ?
Could you check the items that are done? :)

[2016-08-22 21:45] rafaelcn commented on #12
Yes, just waiting to check them out when I submit everything

[2016-08-23 01:33] ryukinix commented on #12
Checking this delicious issue and the giant amount of subtasks. Go a head, @rafaelcn!

[2016-08-23 15:10] rafaelcn commented on #12
We just need to package everything now. :package:

[2016-08-23 16:25] ryukinix commented on #12
We need put this on AUR
@Kurichiel

[2016-08-25 19:33] rafaelcn opened #25 "Binary generation"
The compiler should also, besides being a JIT compiler, read a _brain_ file and generate an executable, the discussion is concerned on to whether the compiler should generate it only when requested, throught  a flag, or it would generate the binary when called, like _gcc_ and other compilers do.

[2016-08-25 19:40] luizperes commented on #25
I will add this issue to the `milestone 1.0`

[2016-08-25 19:43] rafaelcn commented on #25
Really? Shouldn't we put another milestone to implement our new ideas and close the 1.0 ASAP? The dead line is tight!

[2016-08-25 19:45] luizperes commented on #25
@rafaelcn OK! You've got a strong point there! Thanks for this issue, though! :)

[2016-08-25 19:46] ryukinix commented on #25
Nice issue

[2016-08-25 19:49] rafaelcn commented on #25
So as you all are here you should help to decide which one of the behavior we should implement:

1. Generate a binary file only when asked? Solution using a flag, something like `--out=<bin_name>`
2. Generate a binary file when called the compiler over a file.

[2016-08-25 21:38] ryukinix commented on #25
I vote to do like others interpreters. Like lisp and python. `-c` flag denotes compile to machine language and save the file for standard like `source-name.bc`

[2016-08-25 21:40] ryukinix commented on #25
considering the usage of extension `b` as the natural extension for brain

[2016-08-26 17:45] luizperes commented on #25
I agree with @ryukinix regarding using flags! :)

But only making a point here, __Brain__ extensions are `.b`, `.br` and `.brain` and I think that we should include `.bf`, as _Brainfuck_ itself uses `.b` and `.bf`.

[2016-09-01 06:57] luizperes commented on #12
The Dockerfile was just done and updated a new version! :) We did it at 11:57

[2016-09-01 06:57] #12 closed

[2016-09-01 12:29] ryukinix commented on #12
FINALLY!

[2016-09-09 01:41] ryukinix opened #28 "Generate package on AUR"

[2016-09-09 02:00] rafaelcn commented on #28
Can I count on you both (@lerax, @Kuchiriel) to drop some ideas on the subject?

[2016-09-09 03:39] ryukinix commented on #28
I have a count on AUR but don't have experience about creating packages on AUR. @Kuchiriel has more experience than me.

[2016-09-09 04:25] Kuchiriel commented on #28
Send me the instructions, I'll do the remaining.

[2016-09-09 13:59] ryukinix commented on #28
We need just compile the repository and create for now just the `brain-bin` on AUR.

[2016-09-09 14:37] rafaelcn commented on #28
The purpose is pack up the Brain binaries located on `brain-bin` repository. In the end the user would have access to Brain by its terminal, the installation process will be:

* Install io.c on `/usr/local/include`
* Install brain binary on  `/usr/local/bin`

That way we don't bloat the system `/bin` folder. @luizperes do you want to add anything?

[2016-09-09 19:00] luizperes commented on #28
I gotta check it and will answer you back!

Thanks

[2016-09-09 22:05] Kuchiriel commented on #28
I will wait for @luizperes then.

[2016-09-09 22:21] luizperes commented on #28
Hi @rafaelcn, actually, the `brain-bin` repository is for the binary scripts that we will generate, not for the binaries themselves, for example: The [docker one](https://github.com/brain-labs/brain-bin/blob/master/Docker/v1.0/Dockerfile). The binaries will be stored probably in a server.

The Library path is actually `/usr/local/include/brain` instead of `/usr/local/include` and it goes only `.ll

[2016-09-09 23:15] Kuchiriel commented on #28
@luizperes I know there is a brain-bin repository, so, I can work from there, I just need the working binary files. But, guys, take a look at this repository https://github.com/haskellcamargo/skype-unofficial-client.

See the files structure, I need something like this to start. But in AUR we have the option to download the src and build on the machine, instead of copying binaries.

[2016-10-01 06:31] ryukinix commented on #28
Well, maybe this is done for now: [brain](https://aur.archlinux.org/packages/brain/)

[2016-10-01 06:47] ryukinix commented on #28
@ryukinix @luiz_peres

[2016-10-01 06:48] luizperes commented on #28
Wow!!! Could you check it @rafaelcn?

[2016-10-01 06:57] ryukinix commented on #28
Try install it via AUR and give some feedback later, @rafaelcn @Kuchiriel

[2016-10-01 14:14] rafaelcn commented on #28
Good job @ryukinix, I can't check over here because I don't use an Arch base distro but it does looks it is working. We just need to generate the Debian installer now.

[2016-10-02 00:06] ryukinix commented on #28
We need put this information on README.md. We can install brain with this command on ArchLinux (or another based distro just like Manjaro): `yaourt -S brain`

[2016-10-02 01:47] ryukinix opened #29 "Makefile rules build and install are mixed and confused"
This is very annoying. The build triggers are getting sudo permissions to modify the OS filesystem on building the brain compiler.

I think it is better move all the statements for linking/creating libraries, move binaries and other stuffs to `install` trigger and keep `build` rule to just... build.

This is really more simple and clear.

So the INSTALL process will be:

[code]

I'm really angry a

[2016-10-02 17:24] luizperes commented on #29
Thanks for you comment @ryukinix, I actually felt the same way! I will change it for sure. At first I was trying to include the Brain compiler with the LLVM folder for front end, but I think that I will switch it with the local path. What do you think?

[2016-10-02 17:24] luizperes commented on #29
@rafaelcn

[2016-10-02 21:28] rafaelcn commented on #29
I agree, but what do you mean by local path @luizperes? `usr/local/`?

[2016-10-03 01:04] Kuchiriel commented on #28
Brain is the number 25 in AUR. Packages
With llvm-3.8.1-1 as dep.

Total Download Size:    18,64 MiB
Total Installed Size:  105,43 MiB

But...

Creating libraries...
./libs/install.sh: line 22: clang: command not found

You need to add clang compiler as dep.

[2016-10-03 01:17] ryukinix commented on #28
@Kuchiriel Thanks, that way I'll just use clang instead gcc.

[2016-10-03 01:19] ryukinix commented on #28
@Kuchiriel I update the PKGBUILD and .SRCINFO right now. Take a look later.

[2016-10-03 10:54] rafaelcn commented on #28
GCC works just fine to compile Brain as well @ryukinix, although in the `libs/install.sh` file it only uses clang, we can change that if needed.

[2016-10-03 11:15] ryukinix commented on #28
@rafaelcn The problem with clang is a warning about a inexistent flag -Un-not-maybe-initialized. Something like that.

[2016-10-03 11:49] ryukinix commented on #28
but would be better if we can choose the compiler on lib script build

[2016-10-03 20:48] luizperes commented on #29
Actually, @rafaelcn, I was thinking about something else. What do you think about `~/.local/`?

[2016-10-03 20:54] luizperes commented on #28
You are right, @ryukinix. That warning is very annoying. For compiling Brain we will need either `gcc` or `clang`. Although @rafaelcn, I think that we can only use `clang` for the _Brain io.ll library_, because we are actually compiling it to `LLVM IR` rather than `binary code`, thus, I imagine that `gcc` does not __emit-llvm__, does it? For the `Brain v1.1`, I will try to take this clang dependec

[2016-10-03 23:13] rafaelcn commented on #29
Great, looks good. I'd place it on: `~/.local/lib/brain/io.ll`.

[2016-10-03 23:15] rafaelcn commented on #28
Well, I don't know either @luizperes, we have to try things out to know.

[2016-10-04 22:04] luizperes commented on #28
@ryukinix can you include the process of installation using __AUR__ on the `README.md`? `yaourt -S brain`

[2016-10-05 03:02] ryukinix commented on #28
Yes, I can do that.

[2016-10-05 08:24] luizperes commented on #28
Thanks @ryukinix ! That was done on the PR #30

[2016-10-05 08:24] #28 closed

[2016-10-06 01:30] ryukinix opened #31 "Create .deb package and a ubuntu ppa channel for Brain"
Well, as I already wrote a package for Arch Linux using PKGBUILD, the good news is I found a transpiler package: https://github.com/matthewbauer/unipkg

Take a look, we can generate the .deb packages with a formal ArchLinux package. After #29 fixed I can do this.

[2016-10-06 02:33] luizperes commented on #31
Wow!!! That sounds awesome @ryukinix !!!! Can you update us regarding this issue?

Thank you!

[2016-10-06 07:06] ryukinix commented on #29
You can make this in next release? By the way, would be really if a full changelog  been wrote in the next release and so on.

thanks. i'm wating for that fix to reduce the pain of my Obsessive Compulsive Disorder.

[2016-10-06 17:28] luizperes commented on #29
I will certainly do it @ryukinix!! No problem! I have the same problem (that was actually bothering me for a long time too)

[2016-10-15 01:00] luizperes opened #32 "Change Docker Directory"
The `Docker` is in my personal `DockerHub`. Make Brain own `DockerHub` repository

[2016-11-30 23:38] luizperes commented on #17
I will remove this from the `1.1`, ok @rafaelcn, @ryukinix ?

[2016-12-01 09:46] ryukinix commented on #17
ok. go on

[2016-12-01 19:16] rafaelcn commented on #17
D'accord :-)

[2016-12-02 22:54] luizperes commented on #7
Also taken off milestone 1.1

[2016-12-02 22:55] luizperes commented on #15
in order to finish the milestone 1.1 fast, I am taking it off

[2016-12-02 22:56] luizperes commented on #29
taking off milestone 1.1

[2016-12-02 22:56] luizperes commented on #32
taking off milestone 1.1

[2016-12-02 22:57] ryukinix commented on #29
@luizperes credo

[2016-12-02 23:03] luizperes commented on #29
I might put it back, @ryukinix :P

[2016-12-06 00:15] luizperes commented on #23
New feature implemented [here](https://github.com/brain-labs/brain/commit/ca2b1cbff442b4efac9fb737815396a29c08018c). Please check it out @rafaelcn and @ryukinix

[2016-12-06 01:07] luizperes commented on #29
I believe I fixed it [here](https://github.com/brain-labs/brain/commit/3f220cd94880430b0a8b138a7877ac289a34b18b) @ryukinix . Could you check it please?

[2016-12-06 01:16] rafaelcn commented on #23
Beautiful! If it is working you can close it. Not having much time to test things around, green flag for you. :-)

[2016-12-06 01:17] luizperes commented on #23
Closed on the https://github.com/brain-labs/brain/commit/ca2b1cbff442b4efac9fb737815396a29c08018c

[2016-12-06 01:17] #23 closed

[2016-12-06 01:17] rafaelcn commented on #29
What do you think of placing it inside `./local/lib/...` instead of the plain home folder @luizperes?

[2016-12-06 01:19] luizperes commented on #29
isn't it on `~/local/lib`?... or you want to put it there for a reason? `//(omit the libraries)? `

[2016-12-06 01:20] rafaelcn commented on #29
Ops, my bad. Edited the comment, can you please take a second look?

[2016-12-06 01:27] luizperes commented on #29
As talked to you on chat, I will leave it on: `$HOME/.brain/lib`, ok?

[2016-12-06 01:31] luizperes commented on #29
That was done [here](https://github.com/brain-labs/brain/commit/f4e60421d8409ee75abc5ba45c76b906a7201d89)

[2016-12-06 23:55] luizperes commented on #25
I will also add `.wit`

[2016-12-07 00:02] rafaelcn commented on #25
Why `.wit`?

[2016-12-07 00:05] luizperes commented on #25
`Wit` is a form of intelligent humour, what is close to what `Brain` is. It is also `3 chars` long, as mentioned and proposed by @leonardo neumann

[2016-12-07 00:22] luizperes commented on #25
Included `.bf` and `.wit` on https://github.com/brain-labs/brain/commit/fa350046475298f0a2528bc38cb03a5f43668951

[2016-12-08 07:05] luizperes commented on #25
We are generating the `*.o` file at the https://github.com/brain-labs/brain/commit/70fbef26bc237a484d4635a2d3c961dbbd627be2 . I believe that I will leave like that, once `clang` itself uses __`ld`__ - [Explanation here](http://stackoverflow.com/questions/11657529/how-to-generate-an-executable-from-an-llvmmodule) and other people use __`gcc`__ - [Explanation here](http://stackoverflow.com/questions

[2016-12-09 00:17] luizperes commented on #25
Brain now has 3 new flags to solve this issue:

- `c` Generates object code
- `S` Generates assembly code
- `out=<filename>` Sets the output filename `// only works together with -c or -S`

We will not generate binary directly because of the problem that I mentioned above. Checkout the commit https://github.com/brain-labs/brain/commit/b3ebaeda2babefa377c9bc3e249070dc85ec4bb3

[2016-12-09 18:28] luizperes commented on #29
Hi @ryukinix ! Thanks for the hint! I'm reopening this issue!

[2016-12-13 16:31] luizperes commented on #29
Done

[2016-12-13 16:31] #25 closed

[2017-01-18 21:41] texrg opened #36 "Benchmark"
Is any benchmark for this language?
Is possible to create benchmark in integer?

[2017-01-18 21:42] texrg commented on #31
Why not normal debian or fedora package?

[2017-01-19 01:21] rafaelcn commented on #31
If you would like one @texrg you can create and maintain it, I think that we just don't have the time to support the package now.

[2017-01-19 01:24] rafaelcn commented on #36
Regarding your first question, it doesn't have one. And what do you mean by benchmarking in integer? I would say it is fast as C because of its compiler (a JIT compiler), but I will call @luizperes who has a better compiler background to assure or correct what I said.

[2017-01-19 06:18] luizperes commented on #36
Hi @texrg, thanks for the question. As @rafaelcn has mentioned, we do not have any benchmarks for Brain and I do not think that we should create one now, once we have not implemented all optimizations for the compiler. That would be good, though, considering comparisons on papers later on. Feel free to create one you're interested. Other than that, as we're using LLVM, I guess that @rafaelcn is ab

[2017-01-21 12:55] texrg commented on #36
I'm thinking about simple testing and chech it with all time.
for example loading library, read file etc.
$ time ./brain file_example

Some loops in loops. Mandelbrot or Count prime numbers.
Look this http://www.timestretch.com/article/mandelbrot_fractal_benchmark
Meybe some smallest for first benchmark but this is idea. I sent private e-mail

[2017-01-22 20:19] luizperes commented on #36
That's great! I received your email, but I'm very busy this weekend because I'm at work and will answer your when I get home!

[2017-02-03 14:23] sunjay opened #37 "Nested if statements"
Do you support code like this?

[code]

Expanded:
[code]

Are you able to figure out which `:` to jump to?

[2017-02-03 15:44] luizperes commented on #37
Hi @sunjay,
It is completely possible to write code such as the snippet above. The code below was taken from a working system, the BrainStation(https://github.com/brain-labs/brainstation).
[code]

You should also be able to find other examples here: https://github.com/brain-labs/brain/tree/master/tests

Brain also has it's own visualizer for fast tests purposes here: https://brain-labs.github.io/b

[2017-02-03 15:44] #37 closed

[2017-02-03 15:50] luizperes commented on #37
[code]

Nested ifs(without elses) are also possible

[2017-02-03 20:12] luizperes commented on #36
Any news @texrg?

[2017-02-23 06:21] rafaelcn commented on #15
Are we wiling to create this @luizperes?

[2017-02-23 14:56] luizperes commented on #15
Hi @rafaelcn, as mentioned before to you, I think that the makefile will make the same or a better job, not mentioning that many people are used to it. Take a look to an example here: https://github.com/brain-labs/brain/blob/master/repl/Makefile . What do you think ?

[2017-02-23 17:15] rafaelcn commented on #15
Yes, I was just trying to address this issue before closing it. I also think that the Makefile is sufficient for now.

[2017-02-23 17:15] #15 closed

[2017-05-13 19:19] luizperes opened #39 "Small mistake on AST Expr.h method"
At the line https://github.com/brain-labs/brain/blob/master/src/ast/expr/Expr.h#L91, I found a small mistake where the method flag `should_update` is returning `true`. Is is supposed to return `false` instead and be overriden in the classes that implement updates.

It is not a bug, however it is good code patterns.

[2017-05-19 08:55] luizperes commented on #39
Solvedo on https://github.com/brain-labs/brain/pull/40

[2017-05-19 08:55] #39 closed

[2017-05-24 19:31] luizperes opened #41 "BreakExpr for nested stmts"
BreakExpr does not seem to be working properly for nested statements, such as an IfExpr in a LoopExpr

[2017-05-24 19:35] luizperes opened #42 "Fix compiler warnings"
Check and fix:

warning: unknown warning option                               '-Wno-maybe-uninitialized'; did you mean                '-Wno-uninitialized'? [-Wunknown-warning-option]

[2017-05-24 19:37] luizperes opened #43 "Missing the 'armhfp'"

[2017-05-24 19:38] luizperes commented on #43
Add the 'armhfp' to the arch array

[2017-05-25 00:29] rafaelcn commented on #43
Well, could you elaborate on this issue? Not sure I'm uderstanding

[2017-05-25 00:31] rafaelcn commented on #41
How it isn't working properly? It is breaking every nested statement from within or it doesn't break any IfExpr or LoopExpr at all?

[2017-05-25 08:44] luizperes commented on #43
Could you explain it better @onlurking?

[2017-05-25 08:46] luizperes commented on #41
It does not break in statements such as:

[code]

It happens because the `code_gen` is not finding the nearest loop. I have got to check it, though

[2017-05-31 06:38] luizperes commented on #41
I have done the proper tests [here](https://github.com/brain-labs/brain/commit/78c4a813d5e3092560ad3da3050ae71a58f27b71) and it seems to be working. I will for Travis and will close this issue right after.

[2017-05-31 09:31] #41 closed

[2017-07-11 04:54] luizperes opened #45 "Travis file bug"
Travis is not working properly. PR https://github.com/brain-labs/brain/pull/44 was supposed to have broken, but it is not, once Travis is downloading __my__ dev branch instead.

[2017-07-11 05:02] luizperes opened #46 "Makefile and bash scripts problems"
Our current problems are:
- `aliases` on Linux seem to not be working with clang on Brain.
- Brain can be compiled with the versions of LLVM 3.5, 3.8 and 3.9 (we have not tested versions 3.6 and 3.7)
- We have way too many `bash` scripts. Should we reduce it?

[2017-07-31 05:09] luizperes commented on #46
It seems that this problem is related to the `llvm-config`, @rafaelcn

[2017-07-31 10:38] rafaelcn commented on #46
It also is! You have to specify the version of `clang` and also of `llvm-config`. What I did to minimize the errors was to create a symbolic link to both.

[2017-07-31 21:55] luizperes commented on #46
Solved on #49

[2017-07-31 21:55] #46 closed

[2017-10-16 05:03] rafaelcn commented on #42
Fixed as per #50.

[2017-10-16 05:03] #42 closed

[2017-10-16 05:12] luizperes opened #51 "Uninitialized flag"
Clang is complaining that we did not initialize a variable
![uninitialized](https://user-images.githubusercontent.com/6173065/31596195-c0d4b33a-b1f5-11e7-87d9-c15d96788a83.png)

[2017-10-16 05:16] rafaelcn commented on #51
I'll take a look at this later!

[2017-10-16 05:16] luizperes commented on #51
Thanks!

[2017-10-16 06:26] rafaelcn commented on #51
Would you please tell which build did you use in Makefile @luizperes, here it doesn't trigger any warning on `make` or `make build-3.9`.

[2017-10-16 14:52] luizperes commented on #51
Interesting, it happened with me on ‘make build-3.8’. I will take this one them, thanks! :)

[2017-10-17 12:43] rafaelcn commented on #51
Interesting , a bug maybe? That sounds reasonable as `rm` is not initialized in ljne 127, but so is `opt` in line 126 and that doesn't trigger any other warning, does it?

[2017-10-17 13:09] rafaelcn commented on #45
Is this still a problem?

[2017-10-17 13:13] rafaelcn commented on #43
Is there something that we can do about this @onlurking?

[2017-10-17 17:42] luizperes commented on #51
I will be take some time later for that and will update you

[2017-10-17 17:42] luizperes commented on #45
For sure :)

[2017-10-17 17:44] luizperes commented on #43
He fixed by including in the array of output architectures (he was trying on his mobile) on the makefile

[2017-10-17 18:12] rafaelcn commented on #43
Should this be an issue then?

[2017-10-17 19:32] luizperes commented on #43
I think that we should at least create a flag where the user could add their own @rafaelcn. but I see no harm in adding this to the current model

[2017-10-17 22:58] onlurking commented on #43
Sorry, my smarthphone broke(was an Samsung S4), but I will try to reproduce this again on my new phone(which is an Samsung Galaxy J2 Prime).

This error occurred while build brain under [Termux](https://termux.com/).

[2017-10-18 16:04] rafaelcn commented on #43
Yes, that's possible @luizperes and should be easily doable. I wasn't aware that you've tried to compile on your phone @onlurking, thanks for the feedback :wink:

[2017-10-18 16:08] rafaelcn commented on #45
That should be fixed in docker, doesn't it? I just saw the Travis CI for #44 and it has shown:

[code]
Maybe an special docker image for Travis CI? Or remove the usage of docker image in travis, sounds reasonable?

[2017-10-18 16:36] luizperes commented on #45
Yeah, I will need to remake it xD I had trouble doing that the first time I tried.

[2017-10-21 23:26] luizperes commented on #29
This shit is not good enough xD

[2017-10-21 23:33] ryukinix commented on #29
[libs/install.sh](https://github.com/brain-labs/brain/blob/b7f5380e699964d457c89a59bfa6053347f4d34c/libs/install.sh#L30) this file is evil.

Please, build the binary without the need to modify the operating system, injecting files or whatever be.

[2017-10-26 19:04] rdebath opened #54 "Segmentation fault!"
Happens with v1.0 and master.

[code]

[2017-10-26 19:11] luizperes commented on #54
Hi @rdebath, do you have the source code for your helloworld.b ?

Is it the one located in the tests folder?

I will check it and answer as soon as possible! Thanks!

[2017-10-26 19:15] rdebath commented on #54
Yes, it's the one in your tests folder, from Wikipedia. However, the problem seems to happen whatever is in the file, even just a newline (an empty file gives "No such file" !?)

[code]

[2017-10-26 19:45] luizperes commented on #54
I think I had a linking problem related to that (and I fixed locally), but not cool, will fix it as soon as possible.

This [line](https://github.com/brain-labs/brain/blob/dev/libs/io.c#L9) may be causing it. We are depending currently on `C` and `math.h` for `IO` (__must be removed later__).

Just to test, try to run the command:
`brain ./helloworld.b -c && $(CC) helloworld.o -o hello -lm && rm h

[2017-10-26 19:46] luizperes commented on #54
I forgot to ask, is it on the `dev` branch? Which branch are you using? @rdebath

[2017-10-26 20:10] rdebath commented on #54
Okay, I've now switched to the dev branch, recomplied and added the -c argument.
Still getting a segfault.

[code]

[2017-10-26 20:12] luizperes commented on #54
I will check that when I get home! Please take a look to it too @rafaelcn.
Will get back soon to you, @rdebath!

[2017-10-26 23:25] rafaelcn commented on #54
Sorry @rdebath but I couldn't reproduce your bug.  It seems, superficially that something has changed between `clang++ version 3.9` and `clang++ version 5.0`, but nothing to assure yet.

Here's what I've done:

1. Compiled Brain with `make debug`
2. Tried `gdb -args bin/brain tests/helloworld.b -c`

Here's the output. I've removed GNU's copyright notice.

[code]

Again I tried with brain and I've

[2017-10-26 23:26] rafaelcn commented on #54
Anyway, gonna inspect that profoundly later!

[2017-10-27 04:04] rafaelcn opened #56 "Create a wiki to make the README.md small and cleaner"
The purpose of this issue is to lay down what needs to be done in order to clean the README.md file which is huge!

- [ ] Page introducing Brain, the language and its features
- [ ] Page introducing Brain alphabet which teaches in small pieces of code what each operator does
- [ ] Compiler information, how does it work? What are the available options?

I think it would be healthier for the project

[2017-10-27 04:54] luizperes commented on #56
I think that we can remove the current status (together with the Kanban) and we will reduce it in nearly 30~40% what do you think?

[2017-10-27 04:55] rafaelcn commented on #56
Awesome! We have the projects tab now that has almost the same feature.

[2017-10-27 05:33] ryukinix commented on #29
Questions on makefile build no... :( there is no way to build without modifying the system? Build is just to build, for modify we already have the install rule....

[2017-10-27 05:38] ryukinix commented on #29
I think anything about that should be only related to `make install`. And I think that making questions on makefile is not a good idea. Brakes automation. You can just do that by specifying params, overide variables of make. `make PREFIX=/usr install` and so on...

[2017-10-27 09:52] rdebath commented on #54
Okay, I set off a build of clang 4.0.1, amd64 and then downgraded from 5.0.0.
Version 4.0.1 works for me.

[2017-10-27 15:19] rafaelcn commented on #29
Well, you got the point. I wasn't referring to it in the `make build`, I was talking about `make install`. But you got a point, we can change the prefix to change installation binaries, this issue will be put on hold as me and @luizperes are talking about merge the io/math library in Brain itself.

[2017-10-27 15:24] rafaelcn commented on #54
That's quite weird! I was discussing this issue on PR #55. It looks like a problem when linking `dwo` files. We are injecting C compiled code inside Brain when it is compiling.

[2017-10-27 15:56] luizperes commented on #54
We’re actually attaching LLVM IR (we’re compiling .c to .ll and only them attaching) as this is one of the plans of Brain for the future (attach other libraries into the code, so we can use all the power of LLVM), but the IO must go built-in later, the current solution has a lot of problems and is better to avoid them in the future. We already have a couple of issues regarding that and we will giv

[2017-10-27 15:58] luizperes commented on #54
Not so sure if the error above is related to that @rafaelcn. I guess I’ll install clang 5 over the weekend and try to replicate/fix it

[2017-10-27 16:03] rafaelcn commented on #54
That was just a guess by the error provided in that SO answer.

[2017-10-27 16:04] rafaelcn commented on #54
Yet, we need to discuss the future of the Math and the IO library :v

[2017-10-27 16:22] luizperes commented on #56
@rafaelcn Totally, that is a matter of moving the Kanban to there xD `priority:low`

[2017-10-27 16:25] luizperes commented on #54
Yeah for sure, #7 and #29 are still open for this reason. Will try to start working on that ASAP

[2017-10-27 16:31] luizperes commented on #29
initial external scripts should die! :D

(if the user wants to extend Brain using external libraries will be still possible, but all the dependencies to `clang` (_not clang_++_) should be removed!

[2017-10-27 18:20] rdebath commented on #54
WRT the math library the below should work fine.
It depends on the fact that you already have Log base 256 of the maximum integer size (called sizeof) and simply converts that to a log10 by multiplying by 2.41 (log(256)/log(10) --> 2.408239965311849) and adding the necessary padding for sign, nul and the last digit.

[code]

[2017-10-30 00:54] luizperes commented on #51
This warning is not happening on newer versions, so I will just let it the way it is. :)

[2017-10-30 00:54] #51 closed

[2017-10-30 01:24] luizperes commented on #54
I could finally reproduce that on `clang 5`, will check it

[2017-10-30 02:56] luizperes commented on #54
Hi @rdebath, do you want to open a PR on this change you made on the `io.c`? Thanks for the heads up!

BTW, i am trying to run on `clang 5` and so far i do not have any idea about what that can be xD

[2017-10-30 16:24] rafaelcn commented on #51
Yep, this shouldn't happen in newer versions of llvm as it is a bug.

[2017-11-29 06:33] luizperes commented on #17
Maybe something like the image below
![brain_functions](https://user-images.githubusercontent.com/6173065/33361247-283aa9ae-d48c-11e7-805e-b462de33dd9f.png)

[2017-11-29 16:38] rafaelcn commented on #17
Shit just got expressive

[2017-12-11 04:58] luizperes commented on #54
I could narrow down this problem. The problem is on the module, not on the engine

[2017-12-11 05:50] luizperes commented on #54
Hi @rdebath, I am so sorry for the delay to fix this PR! School was killing me! It has been fixed on https://github.com/brain-labs/brain/pull/59

[2017-12-11 06:02] luizperes opened #60 "Rename expression files (and classes)"
We need to rename all files and classes because they are being described wrongly.
For example:

`OutputExpr`, should be `OutputStmt`, however, `ArithmeticExpr` should probably be kept the same. We need to discuss it.

Any thoughts @haskellcamargo, @ryukinix, @rafaelcn ?

[2017-12-11 08:10] ryukinix commented on #60
Hmm... this is bad, but easy to fix with a good editor. Statement means a instruction, expression however means a instruction and is signed to a value to be returned, is it? I mean.... I'm trying to figure out what is the problem. If is this and you want to change the name to describe all the operations correctly, you should list what class was described wrongly on this issue.

But how about using

[2017-12-11 10:27] haskellcamargo commented on #60
We first need to list everything that should be renamed and why. The concepts of `Statement` and `Expression` differ from language to language and some languages have only one kind of node. In Quack, now, we have statements, expressions and also *declarations*. In Brain, actually, if nothing really returns and the things can be remapped to *opcodes*, I believe we have *instructions* (statements ar

[2017-12-11 12:01] ryukinix commented on #60
I agree with `Instrunction` as replacement for the suffix` Expression`, the only problem is that I did not find a good and short way to write `Instruction` as I can find for`Expression` or` Statement`. I mean ... `OutputExp` seems clearly what is, but` OutputInstr` is good? Keeping in the long form `OutputInstrunction` is to me too long if this matters - but this is only aesthetics, anyway.

[2017-12-11 17:06] luizperes commented on #60
Instr sounds cool to me, such as llvm do

[2017-12-11 21:10] ryukinix commented on #60
If is a common jargon on LLVM, I'm ok with it.

[2017-12-15 23:21] luizperes opened #61 "Implement linker for binaries"
The compiler currently does not link the output code.

[2017-12-21 07:49] #54 closed

[2018-01-25 04:04] luizperes opened #64 "Make tape cell size custom"
Currently, each cell has the size of `32 bits`. It should be custom, once `Brainfuck interpreters` rely on many cell sizes (you will find all kinds of them: `8`, `16`, `32` or `64` bits). This way we can keep the suporte do Brainfuck

[2018-01-25 06:35] #60 closed

[2018-01-25 17:53] luizperes opened #66 "Infinite loop compiler"
Compiler enter in undetermined when compiling with following code (Generated code by [Headache](https://github.com/LucasMW/Headache)):

[test.brain.zip](https://github.com/brain-labs/brain/files/1665055/test.brain.zip)

We should investigate and fix it :)

[2018-01-25 18:01] luizperes commented on #17
To keep the pattern in Brain, we decided that instead of allowing functions, we will implement the operator `@` (or the `&`) as:

Imagine the tape with: `[2][4][100][5000][0]....`

The code `>>>@` would then copy the number `100` to cell number `5000`

[2018-01-29 22:12] #64 closed

[2018-01-31 05:28] luizperes opened #67 "Implement mov instruction '&'"
Implement mov instruction as described on https://github.com/brain-labs/brain/issues/17:

====== From #17

To keep the pattern in Brain, we decided that instead of allowing functions, we will implement the operator `@` (or the `&`) as:

Imagine the tape with: `[2][4][100][5000][0]....`

The code `>>>@` would then copy the number `100` to cell number `5000`

[2018-01-31 20:08] #67 closed

[2019-01-03 05:41] ryukinix commented on #31
Closed due lack of activity (> year 1).

[2019-01-03 05:41] #31 closed

[2019-01-03 05:42] ryukinix commented on #29
Closed due lack of activity (> year 1).

[2019-01-03 05:42] #29 closed

[2019-01-03 05:42] ryukinix commented on #3
Closed due lack of activity (> year 1).

[2019-01-03 17:00] luizperes commented on #3
I am reopening this one as it is on WIP (even though I haven't touched that in a year) and I intend to finish it someday

[2019-01-03 20:54] ryukinix commented on #3
Ok! Sorry for that! I was cleaning my list of issues opened on github as first task of year. :) good new year for you.

[2019-01-03 20:59] luizperes commented on #3
NP! Happy new year @ryukinix!